<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>

    <main>
        <form class="login-form" action="/developer-userProfile" method="POST">
            <input type="hidden" value="<%=csrfToken %>" name="_csrf">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<%=user.name %>">
            </div>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%=user.email %>">
            </div>
  
            <button class="btn" type="submit">Back</button>
        </form>
    </main>
</body>
    
</html>