<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   

    <main>
        
        <form class="login-form" action="/developer-reset" method="POST">
            <input type="hidden" value="<%=csrfToken %>" name="_csrf">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <button class="btn" type="submit">Reset Password</button>
        </form>
        
    </main>
</body>
    
</html>