<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

	<div id="wrapper">

		<!-- <%- include('includes/navigation.ejs') %> -->

		<%- include('includes/tester-sidebar.ejs') %>

        <!-- <!-- <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Student Dashboard</h1>
                </div>
                /.col-lg-12
            <!-- </div>
             -->