<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   

    <main>
        <h1>Password Reset</h1>
        <form class="login-form" action="/tester-NewPassword" method="POST">
            <input type="hidden" value="<%=csrfToken %>" name="_csrf">
            <input type="hidden" value="<%=userId %>" name="userId">
            <input type="hidden" value="<%=token %>" name="token">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="password">Confirm Password</label>
                <input type="password" name="confirm-password" id="confirm-password">
            </div>
            <button class="btn" type="submit">Reset Password</button>
            
        </form>

    </main>
</body>
    
</html>