<div>
                <li>
                    <a href="/tester-userProfile" ><i class="fa fa-user fa-fw"></i> User Profile</a>

                </li>
                <form class="login-form" action="/tester-logout" method="POST">
                    <input type="hidden" value="<%=csrfToken %>" name="_csrf">
                    <button  type="submit"  class="btn-primary"><i class="fa fa-sign-out fa-fw"></i>Logout</button>
                </form>
            
            

            </ul>
        </div>
       