<div>
                <li>
                    <a href="/tester-userProfile" ><i class="fa fa-user fa-fw"></i> User Profile</a>

                </li>
                <form action="/" method="get">

                    <input type="submit" value="Logout"  
                         name="Submit" id="frm1_submit" />
                </form>

            </ul>
        </div>
       